.wrapper{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.img-container img{
    width: 500px;
    height: 500px;
}

.package-container {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Alinear elementos en columna */
    padding: 20px;
    height: auto; /* Dejar que la altura se ajuste al contenido */
    justify-content: flex-start; /* Alinear elementos al inicio del contenedor */
}

.package-container h5{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.description{
    font-size: 15px;
    margin-bottom: 20px;
}
.package-container span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px; /* Agregar separación con el botón */
}  

.add-button {
    background-color: var(--primary-color);
    border: transparent;
    padding: 15px 30px; /* Ajustar tamaño del botón */
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border-radius: 5px; /* Botón con bordes redondeados */
}

.add-button:hover {
    background-color: var(--primary-color-hover);
}
