.package-detail-container {
  display: flex;
  gap: 2rem;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-between;
}

.image-section img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.details-section {
  flex: 1;
  color: var(--title-color);
}

.details-section h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.details-section .description {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #444;
  max-width: 600px; /* Define el ancho máximo de la descripción */
  word-wrap: break-word; /* Asegura que las palabras largas se ajusten */
}

.details-section .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--primary-color-hover);
}

.categories h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  margin: 0.3rem 0;
  color: #444;
}

.add-to-cart-button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: var(--primary-color-hover);
}
