<div class="wrapper">
  <div class="container">
    <div class="loader-container" *ngIf="isLoading">
      <app-loading></app-loading>
    </div>

    <div class="main">


      <div class="img-container" *ngIf="!isLoading">
        <img [src]="packageData?.previewImage" alt="{{ packageData?.name }}" class="product-image">
      </div>

      <div class="name-price">
        <h5>{{packageData.name}}</h5>
        <span class="price">{{packageData.price | currency}}</span>
        <span class="sourcefile">Number of files: {{packageData.sourceFiles.length}}</span>
      </div>
      



    </div>

    <div class="details">
      <button>Add to cart</button>
      <p>{{packageData.description}}</p>
    </div>

  </div>
</div>
