<div class="wrapper">
  <div class="container">

    <div class="loader-container" *ngIf="isLoading">
      <app-loading></app-loading>
    </div>

    <div class="img-container" *ngIf="!isLoading">
      <img [src]="packageData?.previewImage" alt="{{ packageData?.name }}"
           class="product-image">
    </div>
    <div class="package-container">
      
      <div class="category-container" *ngIf="!isLoading">
        <div class="category-item" *ngFor="let category of packageData.categories">
          {{category.name}}
        </div>
      </div>

      <h5>{{packageData.name}}</h5>

      <span class="price">{{packageData.price | currency}}</span>

      <span class="sourcefile">Cantidad de archivos: {{packageData.sourceFiles.length}}</span>
      
      <p class="description">
        {{packageData.description}}
      </p>
      
      <button class="add-button" (click)="addToCart(packageData.id)" *ngIf="!isLoading">
        <i class="fa-solid fa-cart-shopping"></i> Añadir al carrito
      </button>

    </div>
  </div>
</div>
