.admin-wrapper {
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .admin-container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-title {
    font-size: 1.8rem;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
  }
  
  .search-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
  }


  .update-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px ;
  }

  
  
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Hace que las columnas respeten los anchos definidos */
  }
  
  .admin-table th, .admin-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
  }
  
  .admin-table th:nth-child(4), .admin-table td:nth-child(4) {
    width: 20%; /* Ajusta este porcentaje según el espacio deseado */
    word-wrap: break-word;
    white-space: normal; /* Permite el salto de línea */
  }
  
  .admin-table th:nth-child(6), .admin-table td:nth-child(6) {
    width: 20%; /* Aumenta el espacio de esta columna */
    word-wrap: break-word;
  }

  .form-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .form-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Animación para ocultar el formulario */
  .form-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .form-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Muestra hasta 3 líneas antes de truncar */
    -webkit-box-orient: vertical;
  }

  .description-container {
    position: relative;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Muestra 3 líneas por defecto */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
    max-height: 4.5em; /* 3 líneas aprox. */
  }
  
  .description.expanded {
    -webkit-line-clamp: unset; /* Quita la restricción de líneas */
    max-height: 100%; /* Expande al tamaño completo */
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .admin-table thead {
    background-color: var(--primary-color);
    color: white;
  }
  
  .admin-table th,
  .admin-table td {
    padding: 10px;
    border: 1px solid var(--secondary-color);
  }
  
  .package-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .input-field,
  .textarea-field {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg-color);
  }
  
  .textarea-field {
    resize: none;
    height: 60px;
  }
  
  .edit-button,
  .save-button,
  .cancel-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover,
  .save-button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .cancel-button {
    background-color: var(--error-color);
  }
  
  .cancel-button:hover {
    background-color: #e04343;
  }

  .edit-form{
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin: 1rem 0;
  }


  .pagination-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
  }
  
  .pagination-controls button:hover {
    background-color: var(--secondary-color-hover);
  }
  
  .pagination-controls button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

.categories-list{
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files-list{
  list-style: none;
  font-size: 0.8rem;
}
.files-list a{
  text-decoration: none;
  color: black;
  list-style: none;
}