<div class="admin-wrapper">
  <div class="admin-container">
    <h1 class="admin-title">Administrar Packages</h1>

    <div class="filter-container">
      <select [(ngModel)]="selectedCategoryId" (change)="filterByCategory()">
        <option value="">Todas las categorías</option>
        <option [value]="category.id" *ngFor="let category of listCategories">
          {{ category.name }}
        </option>
      </select>

  <!-- Filtro por palabra -->
  <form (submit)="filterByWord()">
    <input
      type="text"
      placeholder="Buscar por nombre"
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />
    <button type="submit" class="search-button" (click)="filterByWord()">Buscar</button>
  </form>   
    </div>

    <!-- Formulario de edición -->
    <form class="edit-form" *ngIf="toggleForm" id="editForm">
      <div class="form-group">
        <label for="previewImage">URL de la Imagen</label>
        <input
          id="previewImage"
          type="file"
          class="input-field"
          placeholder="URL de la imagen"
          (change)="onFileSelected($event)"
          name="previewImage"
        />
      </div>
    
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          id="name"
          type="text"
          class="input-field"
          placeholder="Nombre del paquete"
          [(ngModel)]="editingPackage.name"
          name="name"
        />
      </div>
    
      <div class="form-group">
        <label for="price">Precio</label>
        <input
          id="price"
          type="number"
          class="input-field"
          placeholder="Precio"
          [(ngModel)]="editingPackage.price"
          name="price"
        />
      </div>
    
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea
          id="description"
          class="textarea-field"
          placeholder="Descripción"
          [(ngModel)]="editingPackage.description"
          name="description"
        ></textarea>
      </div>
    
      <div class="form-group">
        <label>Categorías</label>
        <div *ngFor="let category of listCategories" class="checkbox-group">
          <input 
            type="checkbox" 
            [checked]="isCategorySelected(category)"
            (change)="onCategoryChange(category, $event)"
          />
          <span>{{ category.name }}</span>
        </div>
      </div>
    
      <div class="form-group">
        <label for="sourceFiles">Archivos Fuente</label>
        <ul class="source-files-list">
          <li *ngFor="let file of editingPackage.sourceFiles; let i = index">
            <input
              type="text"
              placeholder="Nombre del archivo"
              [(ngModel)]="editingPackage.sourceFiles[i].name"
              class="input-field"
              name="sourceFileName{{i}}" 
            />
            <input
              type="text"
              placeholder="Link del archivo"
              [(ngModel)]="editingPackage.sourceFiles[i].link"
              class="input-field"
              name="sourceFileLink{{i}}"
            />
            <button type="button" class="update-button" (click)="updateSourceFile(editingPackage.sourceFiles[i])">Actualizar</button>
            <button type="button" class="update-button" (click)="removeSourceFile(editingPackage.sourceFiles[i].id)">Eliminar</button>
          </li>
        </ul>

        <h1>Crear SourceFile</h1>
        <form [formGroup]="createForm">
          <input formControlName="name" placeholder="SourceFile name" />
          <input formControlName="link" placeholder="SourceFile link" />
          <div class="error-container">
            <div *ngIf="createForm.controls['name'].invalid && createForm.controls['name'].touched">
              <span class="text-danger">Missing name</span>
            </div>
            <div *ngIf="createForm.controls['link'].invalid && createForm.controls['link'].touched">
              <span class="text-danger">Missing link</span>
            </div>
          </div>
          <button type="button" (click)="createSourceFile()">Guardar</button>
        </form>
      </div>

      <div *ngIf="message" class="error-message">
        {{ message }}
      </div>

      <div class="options">
        <button type="button" class="save-button" (click)="cancelEditPackage(editingPackage)">Cancelar</button>
        <button type="button" class="save-button" (click)="savePackageUpdate(editingPackage)">Guardar Cambios</button>
      </div>
    </form>

    <!-- Tabla de paquetes -->
    <table class="admin-table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripción</th>
          <th>Categorías</th>
          <th>Archivos Fuente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let package of packages; let i = index">
          <td>
            <img
              [src]="package.previewImage"
              alt="Preview"
              class="package-image"
              *ngIf="!package.isEditing"
            />
          </td>
          <td>
            <span *ngIf="!package.isEditing" >{{ package.name }}</span>
          </td>
          <td>
            <span *ngIf="!package.isEditing">{{ package.price | currency }}</span>
          </td>
          <td>
            <p
              *ngIf="!package.isEditing"
              class="description"
              [class.expanded]="expandedRows[i]"
            >
              {{ package.description }}
            </p>
            <button 
            *ngIf="package.description.length > 100" 
            class="toggle-button" 
            (click)="toggleRowExpansion(i)"
          >
            {{ expandedRows[i] ? 'Leer menos' : 'Leer más' }}
          </button>
          </td>
          <td>
            <ul *ngIf="!package.isEditing" class="categories-list">
              <li *ngFor="let category of package.categories">{{ category.name }}</li>
            </ul>
          </td>
          <td>
            <ul *ngIf="!package.isEditing" class="files-list">
              <li *ngFor="let file of package.sourceFiles">
                <a [href]="file.link" target="_blank">{{ file.link }}</a><br>
                <span>{{ file.name }}</span>
                <br><br>
              </li>
            </ul>
          </td>
          <td>
            <button
              *ngIf="!package.isEditing"
              class="edit-button"
              (click)="enableEditPackage(package)"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="!pageInfo?.prev">Anterior</button>
      <button (click)="nextPage()" [disabled]="!pageInfo?.next">Siguiente</button>
    </div>
  </div>
</div>
