.admin-wrapper {
    background-color: var(--bg-color);
    min-height: 100vh;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .admin-container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .filter-container.hidden {
    display: none;
  }
  
  .filter-toggle-button {
    display: none;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-toggle-button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .admin-title {
    font-size: 1.8rem;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
  }
  
  .search-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
  }

  .form-group{
    margin-top: 24px;
  }
  .form-group label{
    font-size: 1rem;
    font-weight: 500;
  }
  .form-group h1{
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .form-group h1{
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .update-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px ;
  }
  .source-files-list{
    list-style: none;
  }

  
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Hace que las columnas respeten los anchos definidos */
  }
  
  .admin-table th, .admin-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
  }

  .admin-table td:nth-child(2) {
    max-width: 100px; /* Define un ancho máximo para la celda */
    overflow: hidden; /* Oculta el contenido que se salga del límite */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto se desborda */
    white-space: nowrap; /* Evita que el texto salte de línea */
  }

  .admin-table td:nth-child(3) {
    max-width: 100px; /* Define un ancho máximo para la celda */
    overflow: hidden; /* Oculta el contenido que se salga del límite */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto se desborda */
    white-space: nowrap; /* Evita que el texto salte de línea */
  }
  
  .admin-table th:nth-child(4), .admin-table td:nth-child(4) {
    width: 20%; /* Ajusta este porcentaje según el espacio deseado */
    word-wrap: break-word;
    white-space: normal; /* Permite el salto de línea */
  }
  
  .admin-table th:nth-child(6), .admin-table td:nth-child(6) {
    width: 20%; /* Aumenta el espacio de esta columna */
    word-wrap: break-word;
  }

  .form-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .form-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Animación para ocultar el formulario */
  .form-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .form-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Muestra hasta 3 líneas antes de truncar */
    -webkit-box-orient: vertical;
  }

  .description-container {
    position: relative;
  }
  
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Muestra 3 líneas por defecto */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
    max-height: 4.5em; /* 3 líneas aprox. */
  }
  
  .description.expanded {
    -webkit-line-clamp: unset; /* Quita la restricción de líneas */
    max-height: 100%; /* Expande al tamaño completo */
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .admin-table thead {
    background-color: var(--primary-color);
    color: white;
  }
  
  .admin-table th,
  .admin-table td {
    padding: 10px;
    border: 1px solid var(--secondary-color);
  }
  
  .package-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .input-field,
  .textarea-field {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg-color);
    margin-top: 10px;
  }
  
  
  .textarea-field {
    resize: none;
    height: 60px;
  }
  
  .edit-button,
  .save-button,
  .cancel-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover,
  .save-button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .cancel-button {
    background-color: var(--error-color);
  }
  
  .cancel-button:hover {
    background-color: #e04343;
  }

  .edit-form{
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
    font-weight: bold;
    margin: 1rem 0;
  }


  .pagination-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
  }
  
  .pagination-controls button:hover {
    background-color: var(--secondary-color-hover);
  }
  
  .pagination-controls button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

.categories-list{
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files-container {
  position: relative;
}

.files-list {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Mostrar hasta 3 elementos por defecto */
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  max-height: 6em; /* Altura aproximada para 3 líneas */
}

.files-list.expanded {
  -webkit-line-clamp: unset; /* Quita la restricción de elementos */
  max-height: 100%; /* Expande al tamaño completo */
}
.files-list{
  list-style: none;
  font-size: 0.8rem;
}
.files-list a{
  text-decoration: none;
  color: black;
  list-style: none;
}

.file-link {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Muestra 2 líneas por defecto */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Aproximadamente 2 líneas */
  transition: max-height 0.3s ease;
}
.file-name{
  font-weight: 500;
}

.file-link.expanded {
  -webkit-line-clamp: unset;
  max-height: 100%;
}

.header{
  position: fixed; /* Fija la posición del elemento */
  top: 0; /* Alínea al inicio del alto de la pantalla */
  left: 0; /* Alinea al borde izquierdo */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  background-color: white; /* Fondo blanco para que sea visible */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.file-container {
  margin-bottom: 10px;
}

.filter-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color-hover);
}

.filter-container .header h5 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  color: white;
}

.filter-container .header i {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (max-width: 1230px) {
  .package-image {
    width: 80px; /* Ajusta según tus necesidades */
    height: 80px; /* Asegúrate de mantener la proporción */
  }

  /* Opcional: Si necesitas que otras columnas también se adapten */
  .admin-table td, 
  .admin-table th {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    padding: 8px; /* Ajusta el espacio interno */
  }
}



@media (max-width: 950px) {

  .filter-toggle-button {
    display: block;
  }

  .filter-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  th {
    display: none;
  }

  td {
    display: block;
    width: 100%; /* Se asegura que cada celda ocupe todo el ancho */
    padding: 8px;
    border: none; /* Elimina bordes para una vista más limpia */
    word-wrap: break-word; /* Permite el salto de línea */
    white-space: normal; /* Asegura que el texto no se trunque */
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
    color: var(--secondary-color); /* Usa el color secundario del tema */
    display: inline-block;
    margin-right: 5px;
  }

  tr {
    margin-bottom: 50px; /* Añade espacio entre filas */
    border-bottom: 1px solid #ddd; /* Opcional: separador entre registros */
  }

  .admin-table td {
    width: 100%; /* Se asegura que las celdas sean responsivas */
  }

  .admin-table td:nth-child(2) {
    max-width: 950px; /* Define un ancho máximo para la celda */
    overflow: hidden; /* Oculta el contenido que se salga del límite */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto se desborda */
    white-space: nowrap; /* Evita que el texto salte de línea */
  }

  .admin-table td:nth-child(3) {
    max-width: 950px; /* Define un ancho máximo para la celda */
    overflow: hidden; /* Oculta el contenido que se salga del límite */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto se desborda */
    white-space: nowrap; /* Evita que el texto salte de línea */
  }
  
  .admin-table th:nth-child(4), .admin-table td:nth-child(4) {
    width: 100%; /* Ajusta este porcentaje según el espacio deseado */
    word-wrap: break-word;
    white-space: normal; /* Permite el salto de línea */
  }
  
  .admin-table th:nth-child(6), .admin-table td:nth-child(6) {
    width: 100%; /* Aumenta el espacio de esta columna */
    word-wrap: break-word;
  }
}