/* General wrapper */
.wrapper {
  padding: 40px;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  width: 85%;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container h1 {
  align-self: center;
  color: var(--text);
  font-size: 2rem;
  margin-bottom: 20px;
}

.loader-container{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor de carrito */
.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* Lista de productos */
.cart {
  flex: 2;
}

.empty-cart-message {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
  font-size: 1.2rem;
}

.empty-cart-message p {
  margin-bottom: 10px;
}

/* Estilo de cada producto */
.product {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--main-bg);
  gap: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Detalles del producto */
.cart-item-details {
  flex: 1;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text);
  width: 350px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;    /* Oculta el texto que se sale del contenedor */
  text-overflow: ellipsis; 
}

.item-price {
  color: #555;
  font-size: 1rem;
  margin-top: 5px;
}

/* Botón para eliminar */
.delete-btn {
  background-color: transparent;
  border: none;
  color: #ff4d4f;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete-btn:hover {
  color: #d9363e;
}

/* Resumen total */
.total {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 20px;
}

.checkout-btn {
  background-color: var(--primary);
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.checkout-btn:hover {
  background-color: var(--primary-hover);
}


@media (max-width: 875px) {

  .wrapper{
    margin-top: 40px;
  }

  .container{
    width: 100%;
  }

  .cart-container{
    flex-direction: column;
    justify-content: baseline;
  }

  .item-name{
    width: 200px;
  }

  .cart{
    display: flex;
    
    flex-direction: column;
  }


}

@media (max-width: 440px) {

  .item-name{
    width: 120px;
  }


  .total h3{
    font-size: 1rem;
  }


}