<div class="wrapper">
  <div class="container">
    <h1>My Cart</h1>

    <div class="loader-container" *ngIf="isLoading">
      <app-loading></app-loading>
    </div>

    <div class="cart-container" *ngIf="!isLoading">
      <div class="cart">

        <div class="empty-cart-message" *ngIf="!isLoading && cartItems.length === 0">
          <p>Your cart is empty. Start adding some items!</p>
        </div>

        <!-- Ítems del carrito -->
        <div class="product" *ngFor="let item of cartItems" >
          <div class="cart-item-details">
            <h2 class="item-name">{{ item.name }}</h2>
            <p class="item-price">{{ item.price | currency }}</p>
          </div>
          <button class="delete-btn" (click)="removeItemFromCart(item.id)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <!-- Resumen de compra -->
      <div class="total">
        <h3>Total: {{ totalPrice | currency }}</h3>
        <button class="checkout-btn" (click)="createPayment()">Proceed to checkout</button>
      </div>
    </div>
  </div>
</div>
