.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}
.title{
  align-self: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.cart-grid table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
  }

  .cart-grid tbody tr:first-child td {
    padding: 4px; /* Reducir el padding */
    font-size: 0.9rem; /* Tamaño de texto más pequeño */
    background-color: #f9f9f9; /* Color de fondo diferente */
  }
  
  .cart-grid th, .cart-grid td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .cart-grid th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .cart-grid button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
  }
  
  .cart-grid button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .empty-cart {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }

  .total-price {
    margin: 20px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  

  .pay-button {
    display: inline-block; /* Asegura que sea visible */
    margin: 10px 0;
    padding: 5px 20px;
    background-color: var(--primary-color);
    border: none;
    color: var(--bg-color);
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    align-self: center;
}

.pay-button:hover {
  background-color: var(--primary-color-hover);
}

@media (max-width: 768px) {

  .wrapper{
    align-items: center;
  }

  .pay-button{
    width: 70%;
  }
}
  