@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.component{
  background-color: var(--bg-color);
  padding-top: 5rem;
}

.container{
  display: flex;
  justify-content: center;
  
}

.info-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative; 
}

.header h5 {
  flex-grow: 1; 
  text-align: left; 
  margin: 0;
  
}

.header .fa-x {
  position: absolute; 
  left: 10px; 
  cursor: pointer; 
}


.filter-button{
  display: none;
  position: absolute;
  left: 5%;
  padding: 5px 20px;
  background-color: var(--primary-color);
  border: transparent;
  color: var(--bg-color);
  border-radius: 5px;
}





.category-container{
  width: 20%;
  border-right: 1px solid gray;
}

.category-container.active {
  padding-top: 30px;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 999;
  animation: slideIn 0.5s ease forwards;
}

.category-container h5{
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--title-color);
  text-align: center;
}

.categories button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.categories button:hover{
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: var(--title-color);
  transition: all ease 3s;
}


.packages-container{
  width: 80%;
}

.filters {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espaciado entre los elementos */
  margin-top: 20px; /* Espacio superior */
  color: var(--primary-color);
}

.filter-input,
.filter-select {
  width: 80%; /* Opcional, para que ocupen todo el ancho del contenedor */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filter-input:focus,
.search-input:focus,
.filter-select:focus {
  border-color: var(--secondary-color);
  outline: none;
  box-shadow: 0 0 4px var(--secondary-color);
}

.apply-filters-button {
  align-self: center;
  width: 90%;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

.apply-filters-button:hover {
  background-color: var(--secondary-color-hover);
}

.packages-container{
  padding: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.product-card {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f2f1f1;
}

.product-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.product-image {
  width: 100%; /* Adapta al ancho del contenedor */
  height: 250px; /* Altura fija para las imágenes */
  object-fit: cover; /* Escala y recorta la imagen para que llene el espacio */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.product-name {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  overflow: hidden; /* Esconde contenido que se desborde */
  white-space: nowrap; /* Mantiene el texto en una sola línea */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es muy largo */
}

.product-price {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.add-to-cart-button {
  padding: 5px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: var(--secondary-color-hover);
}

.search-bar {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 0 0 20px 0;
}

.search-input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--secondary-color-hover);
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

.pagination-controls button:hover {
  background-color: var(--secondary-color-hover);
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media (min-width: 300px) {
  .product-grid{
    grid-template-columns: repeat(1,1fr);
  }

  .category-container{
    display: none;
  }

  .filters{
    justify-content: center;
    align-items: center;
  }

  .packages-container{
    width: 100%;
    margin-top: 15px;
  }

  .search-container{
    display: flex;
    justify-content: center;
  }

  .filter-button{
    display: block;
  }

}

@media (min-width: 768px) {
  .product-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 1024px) {

  .fa-x{
    display: none;
  }

  .filters{
    align-items: start;
  }

  .filter-button{
    display: none;
  }

  .category-container{
    width: 20%;
    border-right: 1px solid gray;
  }

  .product-grid{
    grid-template-columns: repeat(3,1fr);
  }

  .category-container{
    display: block;
  }
  .packages-container{
    width: 100%;
  }
  .filter-button{
    display: none;
  }
}

@media (min-width: 1440px) {
  .register-card {
    max-width: 500px;
    padding: 50px 40px;
  }

  .title {
    font-size: 2.2rem;
  }

  .form-input {
    font-size: 1.2rem;
    padding: 14px 60px 14px 20px;
  }

  .submit-button {
    font-size: 1.2rem;
    padding: 15px;
  }
}
