.container {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.login-card {
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--primary-color-hover);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--white);
}

.form-input:focus {
    border-color: var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--primary-color);
    cursor: pointer;
}

.error-message {
    color: var(--error-color);
    font-size: 0.9rem;
    margin-top: -15px;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--primary-color-hover);
}

/* Responsividad */
@media (max-width: 768px) {
    .login-card {
        padding: 20px;
    }

    .form-input {
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {
    .login-card {
        max-width: 450px;
        padding: 40px;
    }

    .title {
        font-size: 2rem;
    }

    .form-input {
        font-size: 1.1rem;
    }

    .submit-button {
        font-size: 1.1rem;
    }
}
