<div class="container">
<div class="login-container">
  <div class="login-card">
    <h1 class="title">Login</h1>
    <form [formGroup]="loginForm">
      <div class="input-group">
        <input
          type="text"
          formControlName="email"
          placeholder="Email"
          class="form-input"
        />
        <i class="fa-regular fa-envelope icon"></i>
      </div>
      <div class="error-message" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
        <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          You must enter an email address.
        </span>
        <span *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
          You must enter a valid email address.
        </span>
      </div>

      <div class="input-group">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          placeholder="Password"
          formControlName="password"
          class="form-input"
          (keyup.enter)="onSubmit()"
        />
        <i
          class="fa-solid fa-eye-slash icon toggle-password"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePasswordVisibility('password')"
        ></i>
      </div>
      <div class="error-message" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
        <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          You must enter a password.
        </span>
        <span *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched || 
        loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
        Use between 8 and 30 characters.
        </span>
      </div>

      <button type="button" class="submit-button" (click)="onSubmit()">Iniciar Sesión</button>
      <span>Not registered?<a routerLink="/register">Register</a></span>
    </form>
  </div>
</div>
</div>
