<div class="container">
<div class="login-container">
  <div class="login-card">
    <h1 class="title">Iniciar Sesión</h1>
    <form [formGroup]="loginForm">
      <div class="input-group">
        <input
          type="text"
          formControlName="email"
          placeholder="Correo electrónico"
          class="form-input"
        />
        <i class="fa-regular fa-envelope icon"></i>
      </div>
      <div class="error-message" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
        <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          Debes ingresar un correo.
        </span>
        <span *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
          Ingresa un correo válido.
        </span>
      </div>

      <div class="input-group">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          placeholder="Contraseña"
          formControlName="password"
          class="form-input"
        />
        <i
          class="fa-solid fa-eye-slash icon toggle-password"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePasswordVisibility('password')"
        ></i>
      </div>
      <div class="error-message" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
        <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          Debes ingresar una contraseña.
        </span>
        <span *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched || 
        loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
          Utiliza entre 8 y 30 caracteres.
        </span>
      </div>

      <button type="button" class="submit-button" (click)="onSubmit()">Iniciar Sesión</button>
      <span>No estas registrado? <a routerLink="/register">Registrarse</a></span>
    </form>
  </div>
</div>
</div>
