<div class="wrapper">
  <div class="container">
    <div class="filters">
      <div class="search">
        <input type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <select name="" id="" class="select" >
        <option value="">
          Select Category
        </option>
        <option value="category.id" *ngFor="let category of categories">
          {{category.name}}
        </option>
      </select>
    </div>
    <div class="packages">
      <div class="product-grid">
        <div class="product-card" routerLink="/detail/{{package.id}}" *ngFor="let package of packages">
          <div class="categories">
            <span class="category-badge" *ngFor="let catPackage of package.categories">{{ catPackage.name }}</span>
          </div>
          <div class="image-container">
            <img [src]="package.previewImage" alt="{{ package.name }}" class="product-image" />
          </div>
          <div class="product-info">
            <h3 class="product-title">{{ package.name }}</h3>
            <span class="product-files">Files: {{package.sourceFiles.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>