<div class="wrapper">
  <div class="container">
    <div class="filters">
      <div class="search">
        <input type="text" placeholder="Search..."  [(ngModel)]="searchTerm" (keyup.enter)="search()">
        <i class="fa-solid fa-magnifying-glass" (click)="search()"></i>
      </div>
      <select name="" id="" class="select" (change)="onCategoryChange($event)">
        <option value="">
          Select Category
        </option>
        <option [value]="category.id" *ngFor="let category of categories">
          {{category.name}}
        </option>
      </select>
    </div>
    <div class="packages">

      <div class="loader-container" *ngIf="isLoading">
        <app-loading></app-loading>
      </div>

      <div class="product-grid">
        <div class="product-card" routerLink="/detail/{{package.id}}" *ngFor="let package of packages">
          <div class="categories">
            <span class="category-badge"  *ngFor="let catPackage of package.categories" [routerLink]="['/packages', { category: catPackage.id }]">{{ catPackage.name }}</span>
          </div>
          <div class="image-container">
            <img [src]="package.previewImage" alt="{{ package.name }}" class="product-image" />
          </div>
          <div class="product-info">
            <h3 class="product-title">{{ package.name }}</h3>
            <span class="product-files">Files: {{package.sourceFiles.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>