<header class="header">
  <a href="" class="logo">LOGO</a>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">Menu</label>

  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="javascript:void(0)">Productos +</a>
        <ul>
          <li *ngFor="let category of categories"><a href="#">{{category.name}}</a></li>
          <li><a href="#">Services+</a>
            <ul>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JAVASCRIPT</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Usuario</a>
        <ul>
          <li><a href="#">Carrito</a></li>
          <li><a href="#">Mis contenidos</a></li>
          <li><a href="#">Iniciar sesion</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>