header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo{
  font-weight: bolder;
  font-size: 25px;
  color: var(--bg-color);
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  font-size: 15px;
  padding: 20px;
  color: var(--bg-color);
  display: block;
}
header .navbar ul li a:hover{
  background: var(--primary-color-hover);
  color: var(--bg-color);
}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--primary-color);
  display: none;
}
header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}

#menu-bar{
  display: none;
}

header label{
  font-size: 20px;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
}

@media(max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: fixed; /* Fija el menú en la pantalla */
    top: 60px; /* Ajusta para que no se superponga con el header */
    left: 0;
    right: 0;
    bottom: 0; /* Asegura que ocupe todo el alto disponible */
    background: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
    z-index: 999;
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }

  header .navbar ul {
    padding: 10px 0;
    list-style: none;
    margin: 0;
  }

  header .navbar ul li {
    width: 100%;
    text-align: left; /* Asegura que los enlaces no queden centrados */
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: rgb(101, 69, 140);
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .navbar {
    display: block;
  }
}