<header class="header">
  <a href="" class="logo">LOGO</a>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar"><i class="fa-solid fa-bars"></i></label>

  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="javascript:void(0)">Productos +</a>
        <ul>
          <li><a routerLink="/packages">Todos los productos</a></li>
          <li *ngFor="let category of categories"><a [routerLink]="['/packages', { category: category.id }]" (click)="closeMenu()">{{category.name}}</a></li>
          <li><a routerLink="/allcategories" (click)="closeMenu()">Todas las categorias</a></li>
        </ul>
      </li>


      <li><a href="javascript:void(0)">Usuario +</a>
        <ul>
          <li *ngIf="isLoggedIn" ><a routerLink="/cart" (click)="closeMenu()">Carrito</a></li>
          <li *ngIf="isLoggedIn"><a routerLink="/user/mypackages" (click)="closeMenu()">Mis contenidos</a></li>
          <li *ngIf="isLoggedIn"><a (click)="logout()" (click)="closeMenu()">Cerrar sesión</a></li>
          <li *ngIf="!isLoggedIn"><a routerLink="/login" (click)="closeMenu()">Iniciar sesión</a></li>
          <li *ngIf="!isLoggedIn"><a routerLink="/register" (click)="closeMenu()">Registrar</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin">
        <a href="javascript:void(0)">Administrador +</a>
        <ul>
          <li><a routerLink="/edit-packages" (click)="closeMenu()">Gestionar Packages</a></li>
          <li><a routerLink="/admin/category" (click)="closeMenu()">Gestionar Categorias</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>