<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-logo">
      <i class="fa-solid fa-fire"></i>
    </div>
    <ul class="navbar-links">
      <li><a href="#inicio">Inicio</a></li>
      <li class="dropdown">
        <a href="#tienda" (click)="toggleDropdown($event, 'tienda')">Tienda</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'tienda'">
          <li *ngFor="let category of categories"><a href="#">{{category.name}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#usuario" (click)="toggleDropdown($event, 'usuario')">Usuario</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'usuario'">
          <li><a href="#perfil">Perfil</a></li>
          <li><a href="#configuracion">Configuración</a></li>
        </ul>
      </li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
    <button class="navbar-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  