.crud-wrapper {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .crud-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
  }
  
  .crud-title {
    font-size: 1.8rem;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .crud-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1rem;
    color: var(--title-color);
    margin-bottom: 5px;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--title-color);
  }
  
  .input-field:focus {
    outline: none;
    border-color: var(--primary-color-hover);
    box-shadow: 0 0 5px var(--primary-color-hover);
  }
  
  .file-input {
    padding: 5px;
  }
  
  .submit-button {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: var(--primary-color-hover);
  }
  