<div class="crud-wrapper">
    <div class="crud-container">
      <h1 class="crud-title">Crear Nuevo Package</h1>
  
      <form class="crud-form">
        <div class="form-group">
          <label for="packageName">Nombre del Package</label>
          <input type="text" id="packageName" placeholder="Ingresa el nombre" class="input-field" />
        </div>
  
        <div class="form-group">
          <label for="packagePrice">Precio</label>
          <input type="number" id="packagePrice" placeholder="Ingresa el precio" class="input-field" />
        </div>
  
        <div class="form-group">
          <label for="previewImage">Imagen de Vista Previa</label>
          <input type="file" id="previewImage" class="input-field file-input" />
        </div>
  
        <div class="form-group">
          <label for="packageCategories">Categorías</label>
          <select id="packageCategories" class="input-field">
            <option value="" disabled selected>Selecciona una categoría</option>
            <option value="category1" *ngFor="let category of categories">{{category.name}}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="sourceFiles">Archivos Fuente</label>
          <input type="file" id="sourceFiles" multiple class="input-field file-input" />
        </div>
  
        <button type="submit" class="submit-button">Crear Package</button>
      </form>
    </div>
  </div>  