@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
}
:root {
  --primary-color: #523B6F; /* Azul principal */
  --primary-color-hover: #73529c; /* Azul más oscuro para hover */
  --secondary-color: #523B6F; /* Fondo de inputs */
  --secondary-color-hover: #73529c; /* Fondo de inputs */
  --error-color: #ff4d4d; /* Rojo para errores */
  --bg-color: #F6F6F6; /* Fondo general */
  --title-color: #3c2a50;
}

html, body { height: 100%; background-color: var(--bg-color);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
