@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'ngx-toastr/toastr';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
    text-decoration: none;
}

:root{
  --text: #5d5d5d;
  --bg: #FFFFFF;
  --main-bg: #9b9b9b;
  --primary: #ff3152;
  --primary-hover: #cd2642;
}

html, body { height: 100%; background-color: var(--bg-color);
min-height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
