@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
}
:root {
    --background-color: #121212;
    --primary-color: #bb86fc;
    --secondary-color: #3700b3;
    --text-color: #e0e0e0;
    --accent-color: #03dac6;
    --button-color: #292929;
    --button-text-color: #bb86fc;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
