<div class="register-container">
  <div class="register-card">
    <h1 class="title">Registro</h1>
    <form action="" [formGroup]="registerForm" class="register-form">

      <!-- Campo Username -->
      <div class="input-group">
        <input type="text" formControlName="username" placeholder="Nombre" class="form-input" />
        <i class="fa-regular fa-user icon"></i>
      </div>
      <div class="error-message">
        <span
          *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].touched || registerForm.controls['username'].dirty)">
          You must enter a name.
        </span>
      </div>

      <!-- Campo Mail -->
      <div class="input-group">
        <input type="text" formControlName="mail" placeholder="Mail" class="form-input" />
        <i class="fa-regular fa-envelope icon"></i>
      </div>
      <div class="error-message">
        <span
          *ngIf="registerForm.controls['mail'].invalid && (registerForm.controls['mail'].touched || registerForm.controls['mail'].dirty)">
          Missing Email
        </span>
        <span *ngIf="registerForm.get('mail')?.hasError('mail') && registerForm.get('mail')?.touched">
          Use a valid Email!
        </span>
      </div>

      <!-- Campo Contraseña -->
      <div class="input-group">
        <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
          placeholder="Ingrese su Contraseña" class="form-input" />
        <i class="fa-solid fa-eye-slash icon toggle-password"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('password')"></i>
      </div>
      <div class="error-message">
        <span
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)">
          Missing Password.
        </span>
        <span
          *ngIf="registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength')">
          Use between 8 and 30 characters.
        </span>
      </div>

      <!-- Campo Confirmar Contraseña -->
      <div class="input-group">
        <input type="{{ showConfirmPassword ? 'text' : 'password' }}" formControlName="confirmPassword"
          placeholder="Confirmar Contraseña" class="form-input" />
        <i class="fa-solid fa-eye-slash icon toggle-password"
          [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePasswordVisibility('confirmPassword')"></i>
      </div>
      <div class="error-message">
        <span
          *ngIf="registerForm?.errors?.['mismatch'] && (registerForm.controls['confirmPassword'].touched || registerForm.controls['confirmPassword'].dirty)">
          Passwords don't match.
        </span>
      </div>

      <!-- Botón de Registro -->
      <button class="submit-button" (click)="onSubmit()">Register</button>
    </form>
  </div>
</div>
