<footer class="footer">
  <div class="footer-container">
    <!-- Columna de Informaciones -->
    <div class="footer-column">
      <h3>PRODUCTS</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/packages">All the products</a></li>
        <li><a routerLink="/allcategories">All the categories</a></li>
      </ul>
    </div>

    <!-- Columna de Partners -->
    <div class="footer-column">
      <h3>USER</h3>
      <ul>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>

    
  </div>
</footer>
